:root {
    --primary-color: #f9005d;
    --secondary-color: yellow;
    --tertiary-color: blue;
    font-family: 'Courier New', Courier, monospace;
}

*{
    box-sizing: border-box;
    margin: 10;
    padding: 10;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: antiquewhite;
    color:#f9005d;
}

header div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 25px;
    padding: 10px;
    align-content: center;
    color:#f9005d;
    font-family:'Courier New', Courier, monospace;
}
.high-score {
    font-size: .8cm;
    border: none;
    background-color: transparent;
    padding: 10px;
    color:#f9005d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div .incorrect-style {
    font-size: 0.8cm;
    font:2px;
    padding:0px 10px;
    text-align: justify;
}
div .initial-style-1 {
    font-size: .50cm;
    font: 2px;
    padding-block: 10px;
}
section .wrapper {
    display: grid;
    grid-template-rows: 1fr, 2fr, 1fr;
    grid-auto-rows: (10 px, auto);
    justify-items: left;
    align-content: space-between;
}
div .style2 {
    display: grid;
    grid-template-rows: 1fr, 2fr;
    grid-auto-rows: (10px, auto);
    flex: wrap;
    justify-content: left;
    align-content: space-between;
}
div .style3 {
    display:grid;
    grid-template-rows: 1fr, 2fr;
    grid-auto-rows: (10px, auto);
    flex: wrap;
    justify-content: left;
    align-content: space-between;
}
section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 75%;
    padding-left: 75px;
}

div .style3 {
    display:inline;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 75%;
    padding-left: 75px;
}
div .sub-list {
    justify-content: start;
}
.sub-list {
    justify-items: start;
}

/* Question Styles */
.ol-questions
